@font-face {
  font-family: "shrikhandregular";
  src: url("fonts/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("fonts/shrikhand/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto_Black";
  src: url("fonts/roboto_black/Roboto-Black.eot?") format("eot"), url("fonts/roboto_black/Roboto-Black.woff") format("woff"), url("fonts/roboto_black/Roboto-Black.ttf") format("truetype"), url("fonts/roboto_black/Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 auto;
  font-size: 14px;
  padding: 0;
  width: 100%;
  font-family: roboto_black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: shrikhandregular;
  font-size: 1.8em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

h5 {
  font-family: shrikhandregular;
  font-size: 1em;
  margin-top: 30px;
  margin-bottom: 10px;
  color: white;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.heading__location {
  width: 100%;
  background: #eaeaeaff;
  padding: 0.1em;
  text-align: center;
  font-size: 1em;
}

.heading__location__icon {
  width: 12px;
  margin-right: 12px;
}

.heading__bloc {
  background: #f6f6f6ff;
  padding: 10px 20px;
  text-align: center;
}

.heading__bloc .heading__btn {
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-box-shadow: 0 2px 5px dar(#eaeaeaff, 30%);
          box-shadow: 0 2px 5px dar(#eaeaeaff, 30%);
  border-radius: 20px;
  border: none;
  padding: 15px;
  color: white;
  font-size: 0.9em;
  width: 200px;
  margin-bottom: 30px;
}

.how {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how__but {
  width: 90%;
  margin: 0 auto;
}

.how__numb {
  width: 20px;
  height: 20px;
  text-align: center;
  background: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 0.5px;
}

.how__btn {
  -webkit-box-align: horizontal;
      -ms-flex-align: horizontal;
          align-items: horizontal;
  background: #f6f6f6ff;
  border: none;
  text-align: left;
  height: 50px;
  padding: 10px;
  position: absolute;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 5px black;
          box-shadow: 0 2px 5px black;
}

.how__btn__btn:hover {
  background: #FF79DA;
}

.how__icon {
  width: 10px;
  margin-right: 20px;
  margin-left: 20px;
}
