//colors
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$quaternary: white;
$bg1: #F6F6F6FF;
$bg2: #EAEAEA;
$bg3: #353535FF;

//fonts
@font-face {
    font-family: "shrikhandregular";
    src: url('fonts/shrikhand/shrikhand-regular-webfont.woff2') format('woff2'),
        url('fonts/shrikhand/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot');
    src: url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff2') format('woff2'),
        url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff') format('woff'),
        url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.ttf') format('truetype'),
        url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto_light_macroman/Roboto-Light-webfont.eot');
    src: url('fonts/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto_light_macroman/Roboto-Light-webfont.woff2') format('woff2'),
        url('fonts/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
        url('fonts/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
        url('fonts/roboto_light_macroman/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto_mrdium_macroman/Roboto-Medium-webfont.eot');
    src: url('fonts/roboto_mrdium_macroman/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto_mrdium_macroman/Roboto-Medium-webfont.woff2') format('woff2'),
        url('fonts/roboto_mrdium_macroman/Roboto-Medium-webfont.woff') format('woff'),
        url('fonts/roboto_mrdium_macroman/Roboto-Medium-webfont.ttf') format('truetype'),
        url('fonts/roboto_mrdium_macroman/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

// HOME PAGE______________________________________

body {
    //body--------------------------------------
    margin: 0 auto;
    font-size: 14px;
    padding: 0;
    width: 100%;
    font-family: robotolight;
}//end Body

* {
    box-sizing: border-box;
}// end box sizing

h1 {
    font-family: shrikhandregular;
    font-size: 1.8em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}//end h1

h2 h3 h4 {
    font-family: robotobold;
}//end h2 h3 h4

//header------------------------------------------
.heading {
    display: flex;
    flex-direction: column;
    //align-items: space-between;

    &__location {
        width: 100%;
        background: $bg2;
        padding: 0.1em;
        text-align: center;
        font-size: 1em;

        &__icon {
            width: 12px;
            margin-right: 12px;
        }//end icon
    }//end location
}//end heading

.heading__Bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $bg1;
    padding: 10px 50px;
    text-align: center;
}//end heading bloc

.btn {
    background-color: $primary;
    background-image: linear-gradient(to bottom, $secondary, rgba(255, 255, 255, 0));
    transition: background-color 0.5s;
    box-shadow: 0 2px 5px darken($bg2, 30%);
    border-radius: 20px;
    border: none;
    padding: 15px;
    color: $quaternary;
    font-size: 0.9em;
    width: 200px;
    margin-bottom: 30px;
    cursor: url('images/icons/hand-pointer-regular.svg'), pointer;

    &:hover {
        background-image: linear-gradient(to bottom, lighten($secondary, 10%), lighten($primary, 10%));
        box-shadow: 0 2px 8px darken($bg2, 80%);
    }//end hover
}//end btn

.heading__bloc h2 {
    font-weight: 100;
}//end heading__bloc

//section how-------------------------------------
.how {
    margin: 20px 15px 0;
}//end how

.how__tittle {
    margin-top: 20px;
    margin-bottom: 10px;
}//end how__tittle

.how__but {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
}//end how__but

.how__numb {
    width: 20px;
    height: 20px;
    left: 10px;
    background-color: $primary;
    text-align: center;
    color: $quaternary;
    border-radius: 50%;
    position: relative;
    margin: 0 0 15px 1px;
}//end how__numb

.how__icon {
    width: 15px;
    left: 15px;
    margin-right: 35px;
    position: relative;
}//end how__icon

.how__btn {
    width: 100%;
    height: 60px;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    text-align: center;
    box-shadow: 0 2px 8px darken($bg2, 30%);
    cursor: url('images/icons/hand-pointer-regular.svg'), pointer;

    &:hover {
        background-color: lighten($secondary, 20%);
        box-shadow: 0 2px 8px darken($bg2, 80%);
    }//end hover how__btn
}//end how__btn--------------------------------------

//section resto----------------------------------
a {
    color: black;
    text-decoration: none;
    &:link {
    text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
}
.resto {
    margin-top: 50px;
    background: $bg1;
    padding: 20px 15px 30px 15px;

    &__carte {
        border-radius: 15px;
        box-shadow: 0 2px 8px darken($bg2, 30%);
    }//end resto__carte

    &__carte:hover {
        box-shadow: 0 2px 8px darken($bg2, 80%);
        border-radius: 15px;
        cursor: url('images/icons/hand-pointer-regular.svg'), pointer;
    }//end resto__carte hover
}//end resto

.resto__image__1 {
    background-image: url(images/restaurants/the_full_palette.jpg);
    width: 100%;
    height: 220px;
    border-radius: 15px 15px 0 0;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    &:hover {
        opacity: 0.5;
        cursor: url('images/icons/hand-pointer-regular.svg'), pointer;
    }//end resto__image__1:hover
}//end resto__image__1

.resto__image__2 {
    background-image: url(images/restaurants/the_enchanted_plate.jpg);
    width: 100%;
    height: 220px;
    border-radius: 15px 15px 0 0;
    background-position-y: 60%;
    background-position-x: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    &:hover {
        opacity: 0.5;
        cursor: url('images/icons/hand-pointer-regular.svg'), pointer;
    }//end resto__image__2:hover
}//end resto__image__2

.resto__image__3 {
    background-image: url(images/restaurants/bastille.jpg);
    width: 100%;
    height: 220px;
    border-radius: 15px 15px 0 0;
    background-position-y: 100%;
    background-position-x: center;
    background-size: cover;

    &:hover {
        opacity: 0.5;
        cursor: url('images/icons/hand-pointer-regular.svg'), pointer;
    }//end resto__image__3:hover
}//end resto__image__3

.resto__image__4 {
    background-image: url(images/restaurants/le_gourmand.jpg);
    width: 100%;
    height: 220px;
    border-radius: 15px 15px 0 0;
    background-position-y: 100%;
    background-position-x: center;
    background-size: cover;

    &:hover {
        opacity: 0.5;
        cursor: url('images/icons/hand-pointer-regular.svg'), pointer;
    }//end resto__image__4:hover
}//end resto__image__4

.resto__new {
    background-color: $tertiary;
    text-align: center;
    width: 80px;
    padding: 3px;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    color: darken($tertiary, 40%);
    margin: -290px 10px 0 0;
    position: relative;
    float: right;
}//end resto__new

.resto__legendary {
    margin: -10px 0 20px;
    background-color: $quaternary;
    padding: 2px 0 10px;
    border-radius: 0 0 15px 15px;
    position: -webkit-sticky;
    position: sticky;
    cursor: url("images/icons/hand-pointer-regular.svg"), pointer;

    & p {
        margin: 0 10px 10px;
    }//end resto__legendary p
}//end resto__legendary

.resto__subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 0px;
}//end resto__subtitle

footer {
    background-color: $bg3;
    padding: 40px 20px 20px 20px;

    .foot__logo {
        width: 8rem
    }//end foot__logo
}//end footer

.footnav {
    margin-left: -40px;

    &__link {
        list-style-type: none;
        line-height: 30px;

        & a {
            color: $quaternary;
            text-decoration: none;
            cursor: url('images/icons/hand-pointer-regular.svg'), pointer;

            & img {
                width: 12px;
                margin-right: 5px;
            }//end footnav__link img
        }//end footnav__link a
    }//end footnav__link   
}//end footnav

//PAGES RESTOS________________________________________
.Body {
    background: $bg1;
}//end Body

.heading__restos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & img {
        width: 20px;
        position: absolute;
        top: 35px;
        left: 20px;
        cursor: url('images/icons/hand-pointer-regular.svg'), pointer;
    }//end img
}//end heading__restos

.heading__image__1 {
    width: 100%;
    height: 15em;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
}//end heading__image__1

.heading__image__2 {
    width: 100%;
    height: 15em;
    background-position-y: 60%;
    background-position-x: center;
    background-size: cover;
}//end heading__image__2

.heading__image__3 {
    width: 100%;
    height: 15em;
    background-position-y: 100%;
    background-position-x: center;
    background-size: cover;
}//end heading__image__3

.heading__image__4 {
    width: 100%;
    height: 15em;
    background-position-y: 100%;
    background-position-x: center;
    background-size: cover;
}//end heading__image__4

.menu {
    background: $bg1;
    padding: 20px 15px 30px 15px;
    margin-top: -40px;
    border-radius: 40px 40px 0 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__title {
        font-family: shrikhandregular;
        font-size: 1.5em;
        text-align: left;
    }//end menu__title

    &__dish span {
        border-bottom: 2px solid $tertiary;
    }//end menu__dish

    &__group {
        padding: 0 10px 30px 10px;
        position: relative;
        margin-top: -35px;
        transition: 1s;
        animation: slide 2s;
    }//end menu__group
}//end menu

.heart {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url("images/icons/heart-regular.svg");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: url('images/icons/hand-pointer-regular.svg'), pointer;

    &:hover {
        background-image: url("images/icons/heart-solid.svg");
    }//end heart:hover
}//end heart

.description {
    display: flex;
    background: $quaternary;
    border-radius: 15px;
    padding-left: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px darken($bg2, 30%);
    cursor: url('images/icons/hand-pointer-regular.svg'), pointer;

    &:hover .check_icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 5.5em;
        height: 100%;
        float: right;
        background: $tertiary;
        border-radius: 0 15px 15px 0;
        & img {
            width: 20px;
            transform: rotate(1turn);
        }//end img
    }//end description:hover

    &:hover {
        box-shadow: 0 2px 8px darken($bg2, 80%);
    }//end hover

    &__global {
        width: 100%;
        height: auto;
    }//end description__global

    &__subtitle {
        margin: 10px 0 0 0;
    }//end descriptio__subtitle
}//end description

.check_icon {
    transition: width 500ms ease-in-out;
    width: 0;
    float: right;
    
    & img {
        width: 0px;
        transition: width 500ms ease-in-out;
    }//end img
}//end check_icon

.description__ingredients {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: auto;

    .price {
        margin-right: 15px; 
    }//end price

    p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 10px;
    }//end description__ingredients
}//end ingredients

.order {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes slide {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}