//colors
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$quaternary: white;
$bg1: #F6F6F6FF;
$bg2: #EAEAEA;
$bg3: #353535FF;

//Cursor
$Cursor: url('images/icons/hand-pointer-regular.svg'), pointer;

//fonts
$FontS-regular: 1rem;
$FontS-small: 0.85rem;
$FontS-large: 2rem;